<div class="mainContainer">
    <div ng-repeat="cards in carddata track by $index" id="cc{{$index}}">
        <div class="col-sm-3">
            <div class="card w-50 p-3 menu">
                <div class="card-action-container">
                </div>
                <div class="card-action-buttons pull-right">
                    <button class="btn btn-success btn-block" ng-click="openCard($index)" aria-hidden="true">
                        <i class="fa fa-folder-open"></i>
                    </button>
                    <button class="btn btn-danger btn-block" ng-click="carddata.splice($index, 1);" aria-hidden="true">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <button class="btn btn-info btn-block" aria-hidden="true">
                        <i class="fa fa-print"></i>
                    </button>
                </div>
                <div class="card-block">
                    <div class="card-header">
                        <img class="imageUser" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
                        <p class="fontP txtTruncate card-title">{{cards.title}}</p>
                    </div>
                    <br>
                    <p class="txtTruncate card-text tooltip-test" title={{cards.designation}}><b>Designation:</b> {{cards.designation}}</p>
                    <p class="txtTruncate card-text"><b>Project:</b> {{cards.project}}</p>
                    <a href="#" class="btn btn-primary">{{cards.link}}</a>
                </div>
            </div>
        </div>
    </div>
    <button class="addBtn" ng-click="addCard()">+</button>
</div>
